<div class="nav-wrapper" animates #animation="animates" animatesInitMode="show" [animatesOnInit]="{type: 'fadeInDown', duration: 600}">
  <div class="row">
    <div class="col s12">
  <nav>
    <div class="nav-wrapper white black-text ">
      <a class="brand-logo cyan-text hide-on-med-and-down">
        <img src="assets/icons/idea.svg" title="logo">
      </a>
      <ul class="right">
        <li><a class="menuitem modal-trigger" href="#status"><i class="material-icons teal-text text-lighten-1">subject</i></a></li>
        <li><a class="menuitem"><i class="material-icons blue-grey-text" (click)="refresh(animation)">refresh</i></a></li>
        <li><a class="menuitem"><i class="material-icons red-text" (click)="close(animation)">close</i></a></li>
        <li class="github-button"><a href="https://github.com/fabiandev/angular-quiz-app" target="_blank" class="waves-effect waves-light btn"><i class="material-icons left">code</i>GitHub</a></li>
      </ul>
      <div class="progress">
        <div class="determinate" [ngStyle]="{width: progress + '%'}"></div>
      </div>
    </div>
  </nav>
  </div>
</div>
</div>
