audio {
  display: none;
}

.song-preview {
  margin-top: 10px;
}

.song-preview button {
  padding: 0 1rem;
}

@media only screen and (min-width: 992px) {
  .song-preview button {
    padding: 0 15px;
  }
  .song-preview button {
    padding: 0 2rem;
  }
}
