.questions-loading {
  position: absolute;
  margin-top: 15rem;
  width: 60px;
  left: 50%;
  margin-left: -60px;
}

ul li .btn i {
  font-size: 1.3rem;
  line-height: 36px;
}

ul li a.menuitem:hover {
  background-color: rgba(236, 239, 241, 1);
}

ul li a.btn {
  padding: 0 1.8rem 0 1.3rem;
}

.brand-logo {
  height: 100%;
}

.brand-logo img {
  cursor: pointer;
  height: 1.3em;
  margin-left: 10px;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -0.7em; // put further to top than center
}
