<div materialize="modal" [materializeActions]="modalActions" [materializeParams]="[{dismissible: true}]" id="status" class="modal bottom-sheet">
  <div class="modal-content">
    <h4 class="blue-grey-text">Quiz Status</h4>
    <ul class="collection">
      <li *ngFor="let question of quizService.questions; let i = index" class="collection-item avatar">
        <i class="material-icons circle lighten-2" *ngIf="!question.answered || !question.statusTemplate" [ngClass]="{'grey': !question.answered, 'blue-grey': question.answered}">check_circle</i>
        <span class="title black-text" *ngIf="!question.answered">Question {{ question.id }}</span>

        <div *ngIf="question.answered">
          <ng-container *ngIf="question.statusTemplate" [ngTemplateOutlet]="question.statusTemplate" [ngTemplateOutletContext]="question.component"></ng-container>
          <span class="title black-text">{{ question.title }}</span>
        </div>

        <!-- <div [ngSwitch]="question.type" *ngIf="question.answered">
          <div *ngSwitchCase="0">

            <img src="{{ question.track.album?.images[0]?.url }}" class="circle">
            <span class="title black-text">Who is the artist of the album <em>{{ question.track.album.name }}</em>?</span>
          </div>
          <div *ngSwitchCase="1">

            <audio #player id="audio{{ question.track.id }}" src="{{ question.track.preview_url }}" (ended)="stopPlayback(player)" preload="auto">
                  <p>Sorry, your browser does not support the <code>audio</code> element.</p>
                </audio>
            <i class="material-icons circle blue-grey play-button waves-effect waves-light" (click)="togglePlayback(player)">{{ !isAudioPlaying(player) ? 'play_arrow' : 'stop' }}</i>
            <span class="title black-text">{{ question.title }}</span>
          </div>
          <div *ngSwitchCase="2">

            <i class="material-icons circle blue white-text">audiotrack</i>
            <span class="title black-text">Who is the artist of the track <em>{{ question.track.name }}</em>?</span>
          </div>
          <div *ngSwitchCase="3">

            <i class="material-icons circle red white-text">album</i>
            <span class="title black-text">Who is the artist of the album <em>{{ question.track.album.name }}</em>?</span>
          </div>
          <div *ngSwitchDefault>
            <span class="title black-text">Question {{ i + 1 }}</span>
          </div>
        </div> -->


        <p class="blue-grey-text" *ngIf="question.answered">
          <span class="grey-text">Your answer:</span> <span>{{ question.answer }}</span>
          <span [hidden]="question.wasCorrect"><span class="grey-text"><br>Correct answer:</span> <span>{{ question.correctAnswer }}</span></span>
        </p>

        <p class="grey-text" *ngIf="!question.answered">Not yet answered</p>
        <span class="secondary-content" *ngIf="question.answered"><i class="material-icons green-text" [ngClass]="{'green-text': question.wasCorrect, 'red-text': !question.wasCorrect}">{{ question.wasCorrect ? 'check': 'close' }}</i></span>
      </li>
    </ul>
    <div class="spacing">
      &nbsp;
    </div>
  </div>
  <div class="done-button modal-footer">
    <span class="modal-action modal-close waves-effect waves-green btn-flat">Done</span>
  </div>
</div>
