<style>
  .center {
    margin: auto;
    width: 50%;
    padding: 10px;
    /*position: relative;*/
  }
  #footer {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  .pad {
    padding-top: 60px;
  }
</style>
<app-toolbar></app-toolbar>
<div align="centre" class="pad center">
  <ul class="nav nav-tabs">
    <li>
      <nav>
        <a class="w3-button w3-block w3-black" routerLink="/bar-chart">Bar Chart</a>
      </nav>
    </li>
    <li>
      <nav>
        <a class="w3-button w3-block w3-black" routerLink="/bar-chart">Line Chart</a>
      </nav>
    </li>
  </ul>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
<div>
  <div style="display: block">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType">
    </canvas>
  </div>
</div>
<app-social></app-social>

