<!--<app-toolbar></app-toolbar>-->
<div align="centre" class="pad center">
  <ul class="nav nav-tabs">
    <li>
      <nav>
        <a class="w3-button w3-block w3-black" routerLink="/bar-chart">Bar Chart</a>
      </nav>
    </li>
    <li>
      <nav>
        <a class="w3-button w3-block w3-black" routerLink="/bar-chart">Line Chart</a>
      </nav>
    </li>
  </ul>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
<div>
  <div style="display: block">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType">
    </canvas>
  </div>
</div>

