# NEVER INCLUDE THE REAL ENVIRONMENT VARIABLES FILE
# IN SOURCE CONTROL AS IT MAY CONTAIN SECRET KEYS!!

API_BASE_PATH=/

NODE_ENV=production
NPM_CONFIG_PRODUCTION=false
NEW_RELIC_LOG=stdout

NEW_RELIC_LICENSE_KEY=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
