.card {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
}

@media only screen and (max-width: 992px) {
  .card {
    margin-top: 8rem;
  }
}

@media only screen and (max-width: 435px) {
  .card {
    margin-top: 6rem;
  }
}

@media only screen and (max-width: 375px) {
  .card {
    margin-top: 5rem;
  }
}

@media only screen and (max-width: 320px) {
  .card {
    margin-top: 3rem;
  }
}

.card blockquote {
  max-width: 33.5rem;
  margin: 15px auto 25px auto;
  line-height: 1.7;
}

.card blockquote a.btn-flat {
  margin: 0;
  height: 20px;
  padding: 0 5px;
  line-height: 20px;
  margin-top: -2px;
}

a.btn {
  margin-top: 20px;
  margin-bottom: 20px;
}
