<div class="w3-top app-toolbar">
  <div class="w3-row w3-padding w3-black">
    <div class="w3-col s3">
      <nav>
        <a class="w3-button w3-block w3-black" routerLink="/welcome">WELCOME PAGE</a>
      </nav>
    </div>
    <div class="w3-col s3">
      <nav>
        <a class="w3-button w3-block w3-black" routerLink="/topics">QUIZ</a>
      </nav>
    </div>
    <div class="w3-col s3">
      <nav>
        <a class="w3-button w3-block w3-black" routerLink="/stats">FAKE NEWS STATS</a>
      </nav>
    </div>
    <div class="w3-col s3">
      <a href="https://github.com/Davospike/segpSPA" target="_blank" class="w3-button w3-block w3-black">GITHUB</a>
    </div>
  </div>
</div>
