<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<style>
  body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
  }
</style>
<body>

<!-- Links (sit on top) -->
<div class="w3-top">
  <div class="w3-row w3-padding w3-black">
    <div class="w3-col s3">
      <nav>
        <a class="w3-button w3-block w3-black" routerLink="/welcome">WELCOME PAGE</a>
      </nav>
    </div>
    <div class="w3-col s3">
      <nav>
        <a class="w3-button w3-block w3-black" routerLink="/topics">QUIZ</a>
      </nav>
    </div>
    <div class="w3-col s3">
      <nav>
        <a class="w3-button w3-block w3-black" routerLink="/stats">FAKE NEWS STATS</a>
      </nav>
    </div>
    <div class="w3-col s3">
      <a href="https://github.com/Davospike/segpSPA" target="_blank" class="w3-button w3-block w3-black">GITHUB</a>
    </div>
  </div>
</div>
