<div>
  <div class="row">
    <div class="col s12">
      <div class="card white">
        <div class="card-content center-align black-text">
          <h5>Congrats, you have finished the quiz!</h5>
          <div class="done-icon">
            <div class="circle blue lighten-4">
              <img src="assets/icons/graduation_cap.svg">
            </div>
          </div>
          <div class="text">
          <p>
            Click the <i class="tiny circle teal lighten-1 white-text material-icons">subject</i> icon, to display all questions and your answers.
            <br><br>
            You can also take another quiz by clicking <i class="tiny circle blue-grey white-text material-icons">refresh</i>,
            or start over with <i class="tiny circle red lighten-1 white-text material-icons">close</i>.
          </p>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
